USE [EmpDB]
GO
/****** Object:  Table [dbo].[tbl_Department]    Script Date: 27-02-2026 12:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Department](
	[DeptId] [int] IDENTITY(1,1) NOT NULL,
	[DeptName] [varchar](50) NOT NULL,
	[isActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Department] PRIMARY KEY CLUSTERED 
(
	[DeptId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Designation]    Script Date: 27-02-2026 12:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Designation](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[DeptId] [int] NULL,
	[DesignationName] [varchar](200) NULL,
 CONSTRAINT [PK_tbl_Designation] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 27-02-2026 12:00:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[Empid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[MobileNo] [varchar](10) NOT NULL,
	[Email] [varchar](200) NULL,
	[City] [varchar](50) NOT NULL,
	[State] [varchar](200) NULL,
	[Pincode] [varchar](6) NOT NULL,
	[AltMobileNo] [varchar](10) NULL,
	[Address] [varchar](2000) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[Empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Department] ON 

INSERT [dbo].[tbl_Department] ([DeptId], [DeptName], [isActive], [CreatedDate], [ModifiedDate]) VALUES (2, N'HR Team', 1, CAST(N'2026-01-28T22:54:06.947' AS DateTime), CAST(N'2026-01-28T22:54:06.947' AS DateTime))
INSERT [dbo].[tbl_Department] ([DeptId], [DeptName], [isActive], [CreatedDate], [ModifiedDate]) VALUES (3, N'L & D', 1, CAST(N'2026-02-17T18:26:31.163' AS DateTime), CAST(N'2026-02-17T18:26:31.163' AS DateTime))
INSERT [dbo].[tbl_Department] ([DeptId], [DeptName], [isActive], [CreatedDate], [ModifiedDate]) VALUES (4, N'IT', 1, CAST(N'2026-02-17T18:32:40.393' AS DateTime), CAST(N'2026-02-17T18:32:40.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_Department] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Designation] ON 

INSERT [dbo].[tbl_Designation] ([DesignationId], [DeptId], [DesignationName]) VALUES (1, 2, N'OnBoarding Team')
INSERT [dbo].[tbl_Designation] ([DesignationId], [DeptId], [DesignationName]) VALUES (4, 2, N'Associate HR')
INSERT [dbo].[tbl_Designation] ([DesignationId], [DeptId], [DesignationName]) VALUES (5, 3, N'Associate Lead LP')
SET IDENTITY_INSERT [dbo].[tbl_Designation] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Employee] ON 

INSERT [dbo].[tbl_Employee] ([Empid], [Name], [MobileNo], [Email], [City], [State], [Pincode], [AltMobileNo], [Address], [DesignationId], [CreatedDate], [ModifiedDate], [Role]) VALUES (1, N'Sumit', N'9876543210', N'sumit@gmail.com', N'Pune', N'Maharastra', N'567987', N'9999000014', N'Pune,India', 1, CAST(N'2026-02-15T00:00:00.000' AS DateTime), CAST(N'2026-02-27T11:20:41.450' AS DateTime), N'HR')
INSERT [dbo].[tbl_Employee] ([Empid], [Name], [MobileNo], [Email], [City], [State], [Pincode], [AltMobileNo], [Address], [DesignationId], [CreatedDate], [ModifiedDate], [Role]) VALUES (2, N'Praveen Niloor', N'0987654321', N'psn@gmail.com', N'Kalaburagi', N'Karnataka', N'585311', N'', N'At Post Gola B tq Aland Dist Kalaburagi Karnataka', 5, CAST(N'2026-02-25T14:10:54.420' AS DateTime), CAST(N'2026-02-27T11:21:29.923' AS DateTime), N'Employee')
INSERT [dbo].[tbl_Employee] ([Empid], [Name], [MobileNo], [Email], [City], [State], [Pincode], [AltMobileNo], [Address], [DesignationId], [CreatedDate], [ModifiedDate], [Role]) VALUES (4, N'Arun Niloor', N'9035651110', N'asn@gmail.com', N'Kalaburagi', N'Karnataka', N'585311', N'', N'At Post Gola B tq Aland Dist Kalaburagi Karnataka', 5, CAST(N'2026-02-25T15:18:22.457' AS DateTime), CAST(N'2026-02-26T00:15:52.700' AS DateTime), N'HR')
SET IDENTITY_INSERT [dbo].[tbl_Employee] OFF
GO
ALTER TABLE [dbo].[tbl_Designation]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Designation_tbl_Department] FOREIGN KEY([DeptId])
REFERENCES [dbo].[tbl_Department] ([DeptId])
GO
ALTER TABLE [dbo].[tbl_Designation] CHECK CONSTRAINT [FK_tbl_Designation_tbl_Department]
GO
